@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    @include colo();
    &-text {
      font-size: 2rem;
      word-spacing: 0.5rem;

      &:hover {
        font-size: 1.5rem;
      }
    }

    &:hover {
      @include colo(blue);
    }
  }
  @include minwidth(1024px) {
    display: none;
  }
}
.box {
  @include size(200px);
  @include bgc(red);
  @include absoluteCenter("both");
}
